.button-delete {
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  align-items: center;
  border: 1px solid var(--fourth-color);
  border-radius: 5px;
  font-size: 10px;
  color: var(--fourth-color);
  padding: 5px 5px;
  cursor: pointer;
}
.button-delete img {
  width: 20px;
  height: auto;
}
